<div id="hello" v-cloak>
  <h1><%= title %></h1>
  <p><%= message %></p>
  <form method="post" action="/sample">
    <div>
      <label for="msg">ID</label>
      <input type="text" id="msg" name="msg">
    </div>
    <button type="submit">送信</button>
  </form>
  <ul>
    <% for (var item of data){ %>
    <li><%= item %></li>
    <% } %>
  </ul>
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>