@layout("layouts/main")
@set("title",title)
@section("body")
<p>
  {{message}}
</p>
<form method="post" action="/sample">
  <div>
    <label for="msg">Message</label>
    <input type="text" id="msg" name="msg">
  </div>
  <button type="submit">送信</button>
</form>
------------------------------
<h5>セッションの内容</h5>
<ul>
@each(item in list)
<li>{{item}}</li>
@end
</ul>
@end