@layout("layouts/main")
@set("title",title)
@section("body")
<p>
  {{message}}
</p>
<ul>
@each(item in data)
<li>{{JSON.stringify(item)}}</li>
@end
</ul>
<div>
<a href="person?page={{page-1}}">Prev|</a>
<a href="person?page={{page+1}}">Next</a>
</div>
@end