@layout('layouts/main')
@set('title', title)

@section('body')
<p>{{ message }}</p>
<form action="/sample" method="post">
  <div class="mb-3">
    <label for="msg" class="form-label">Message</label>
    <input type="text" name="msg" id="msg" class="form-control">
  </div>
  <button type="submit" class="btn btn-secondary">送信</button>
</form>
<hr>
<h5>※セッションの内容</h5>
<ul class="list-group">
  @each(item in list)
  <li class="list-group-item">{{ item }}</li>  
  @endeach
</ul>
@end
