@layout('layouts/main')
@set('title', title)

@section('body')
<p>{{message}}</p>
<ul class="list-group">
  @each(item in data)
  <li class="list-group-item">{{JSON.stringify(item)}}</li>
  @end
</ul>
<div class="text-center">
  <a href="/person?page={{ page-1 }}">Prev</a>
  <a href="/person?page={{ page+1 }}">Next</a>
</div>
@end